<div id="dst" class="audiences">
    <% @campaigns = @brand.campaigns.find(:all, :conditions => ["drop_date >= ?", DateTime.now], :order => 'drop_date ASC') %>
    <div id="header">
        <div class='button' style="background:#<%= @brand.color %>;background:-webkit-linear-gradient(top, #<%= @brand.color %>, <%= @brand.darken_color(@brand.color, 0.75) %>);border-bottom:2px solid <%= @brand.darken_color(@brand.color, 0.50) %>;
"><%= @campaigns.size %></div>
      <%= link_to 'Add Audience', new_brand_audience_path(@brand), :class => 'new' %>
      <h1>Audiences</h1>
      <h2><%= link_to '&larr; '.html_safe + @brand.name, brand_path(@brand) %></h2>
    </div>

    <div id="actions">
      <ul>
        <li class="on"><%= link_to 'Campaigns', brand_path(@brand) %></li>
        <li class="on"><%= link_to 'Send Lists', brand_send_lists_path(@brand) %></li>
        <li class="on"><%= link_to 'Track', tracker_path(@brand) %></li>
      </ul>
    </div>

    <% if @brand.audiences.size == 0 %>
      <%= render 'empty' %>
    <% else %>
      <% @brand.audiences.each do |audience| %>
      <div class="record deletable <%= toggle_row_bg_color %>">
        <%= button_to 'X', brand_audience_path(@brand, audience), :method => :delete, :class => 'delete' %>
        <%= audience.code %>
      </div>
      <% end %>
    <% end %>

  
</div><!-- /#dst, .audiences -->

