<div id="dst" class="brand">

  <%= render 'shared/navigation_bar', :local => @brand %>

    <% @campaigns = @brand.campaigns.find(:all, :conditions => ["drop_date >= ?", DateTime.now], :order => 'drop_date ASC') %>
  <%= render 'brands/header', :brand => @brand %>

    <div class='stage' style='padding:25px 50px'>

    <% if @brand.audiences.size == 0 %>
      <%= render 'empty' %>
    <% else %>
      <% @brand.audiences.each do |audience| %>
      <div class="item deletable <%= toggle_row_bg_color %>">
        <!-- <%= button_to 'X', brand_audience_path(@brand, audience), :method => :delete, :class => 'delete' %> -->
        <%= audience.name ? audience.name : audience.code %>
      </div>
      <% end %>
    <% end %>
  
    </div>
  
</div><!-- /#dst, .audiences -->

