<div id='dst' class='brand'>

  <% @campaigns = @brand.campaigns.find(:all, :conditions => ["drop_date >= ?", DateTime.now], :order => 'drop_date ASC') %>
  <%= render 'shared/navigation_bar', :local => @brand %>

  <%= render 'brands/header', :brand => @brand %>

  <% if @send_lists.size == 0 %>
    <%= render 'empty' %>
  <% else %>
  
  <div class='send_lists_container' style='padding:25px 25px'>
      <% @send_lists.each do |send_list| %>
    <div class='package deletable <%= toggle_row_bg_color %>'>
      <h1><%= link_to send_list.list_name, brand_send_list_path(@brand, send_list) %></h1>
     <!--<%= button_to 'X', brand_send_list_path(@brand, send_list), :method => :delete, :class => 'delete' %>-->
     <div class='container'>
       <ul>
       <% send_list.contacts.each do |contact|  %>
        <li><%= contact.name %></li>
       <% end %>
      </ul>
     </div>
    </div>
    <% end %>
  </div>
  <% end %>

</div><!-- /#dst, .send_lists -->