<% column_names = ['EMAIL VERSION', 'AUDIENCE', 'COUNTS', 'SUPPRESSION FILES'] %>
<% content_for :column_headers do %>
  <% column_names.each do |n| %>
    <td height='30' style="padding:10px;color:#1f499f;text-align:center;font-size:12px;font-weight:bold;background:#eeece1"><%= n %></td>
  <% end %>
<% end %>


<% number_of_rows = 1; @campaign.versions.each do |v| %>
  <% number_of_rows += v.demographics.size + 1 %>
<% number_of_rows.to_s; end %>

<table border='1' style='border-collapse:collapse;font-family:sans-serif; font-size:12px;' bordercolor='grey' cellpadding="0" cellspacing="0" width="700">
  <%= render table 'table_head' %>  
  <% i = 0; @campaign.versions.each do |v| %>
      <tr>
        <td style='padding:10px;'><%= @campaign.treatment_name %><br/><br/><%= @campaign.get_drop_date_as :full_drop_date %></td>
        <td style='padding:35px 10px; text-align:center'><%= v.audience_list %></td>
        <td style='padding:10px; text-align:right'><%= v.counts_subtotal %></td>
        <td style='padding:10px;'></td>
      </tr>
      <tr>
      </tr>
  <% end %>
      <tr>
        <td height='30' style='background:#ddd9c3;'></td>
        <td height='30' style="padding:10px; background:#ddd9c3; color:#333;font-size:11px;">GRAND TOTAL</td>
        <td height='30' style="padding:10px; background:#ddd9c3; color:#333;font-size:14px; text-align:right; font-weight:bold;"><%= @campaign.counts_total %></td>
        <td height='30' style='background:#ddd9c3;'></td>
      </tr>
</table>