<div id="actions">

<% @brand = @campaign.brand %>

  <div class='button' style="background:#<%= @brand.color %>;background:-webkit-linear-gradient(top, #<%= @brand.color %>, <%= @brand.darken_color(@brand.color, 0.75) %>);border-top:2px solid <%= @brand.darken_color(@brand.color, 0.50) %>;
"></div>

  <ul>
    <li class="on" style='padding-right:25px;'><%= link_to @brand.name, brand_path(@brand) %></li>
    <li class="on"><%= link_to 'Segmentation', brand_campaign_segments_path(@campaign.brand, @campaign) %></li>
    <li class="on"><%= link_to 'Proof', proof_brand_campaign_path(@campaign.brand, @campaign) %></li>
    <li class="<%= @campaign.counts_provided? ? 'on' : 'off' %>"><%= link_to 'Counts', counts_brand_campaign_path(@campaign.brand, @campaign) %></li>
    <li class="on"><%= link_to 'Final Approval', final_brand_campaign_path(@campaign.brand, @campaign) %></li>
    <li class="<%= @campaign.is_approved? ? 'on' : 'off' %>"><%= link_to 'Scheduled', scheduled_brand_campaign_path(@campaign.brand, @campaign) %></li>
    <li class="off"><%= link_to 'Send detials', brands_path %></li>
  </ul>

</div>