<div id="actions">

  <ul>
    <li class="on"><%= link_to 'Segmentation', brand_campaign_segmentation_path(@campaign.brand, @campaign) %></li>
    <li class="on"><%= link_to 'Proof', proof_brand_campaign_path(@campaign.brand, @campaign) %></li>
    <li class="<%= @campaign.counts_provided? ? 'on' : 'off' %>"><%= link_to 'Counts', counts_brand_campaign_path(@campaign.brand, @campaign) %></li>
    <li class="on"><%= link_to 'Final Approval', final_brand_campaign_path(@campaign.brand, @campaign) %></li>
    <li class="<%= @campaign.is_approved? ? 'on' : 'off' %>"><%= link_to 'Scheduled', scheduled_brand_campaign_path(@campaign.brand, @campaign) %></li>
    <li class="off"><%= link_to 'Send detials', brands_path %></li>
  </ul>

</div>