<div class="record deletable <%= toggle_row_bg_color %>">
    <%= form_tag brand_campaign_version_path(@campaign.brand, @campaign, version), :method => 'put' do |f| %>
      <%= check_box_tag 'version[creative_approval]', (version.creative_approval == false ? 1 : 0), version.creative_approval %>
    <% end %>


 <%= button_to 'X', brand_campaign_version_path(@campaign.brand, @campaign, version), :method => :delete, :class => 'delete' %>
      <h1><%= link_to version.creative, brand_campaign_version_path(@campaign.brand, @campaign, version) %></h1>
      
      <ul class="sub_items">
      <% version.demographics.each do |d| %>
        <li><%= d.audience.code %> <span class="int"><%= best_in_place d, :count, :type => :input, :path => brand_campaign_version_demographic_path(@campaign, @campaign.brand, version, d) %></span></li>
      <% end %>
      </ul>
      
      
      <span class="count"><%= number_with_delimiter version.counts_subtotal, :delimeter => ',' %></span>
    </div>