<div id='dst' class='campaign'>

    <div id="header">
    <% @brand = @campaign.brand %>
    <div class='button' style="background:#<%= @brand.color %>;background:-webkit-linear-gradient(top, #<%= @brand.color %>, <%= @brand.darken_color(@brand.color, 0.75) %>);border-bottom:2px solid <%= @brand.darken_color(@brand.color, 0.50) %>;
"><%= link_to @brand.code, brand_path(@brand) %></div>
      <%= link_to 'New Version', new_brand_campaign_version_path(params[:brand_id], @campaign), :class => 'new' %>  
      <h1><span class="current"><%= @campaign.name + '.' %></span></h1>
<div class="clear"></div>
    </div><!-- /#header, .campaign -->

    <%= render 'actions', :local => @campaign %>

    <% if @campaign.versions.count == 0 %>
      <%= render 'empty' %>    
    <% else %>
      <% @campaign.versions.each do |version| %>
        <%= render 'version_record', :version => version %> 
      <% end %>
    <% end %>

    <div class="record total">
      <div>
        <%= number_with_delimiter @campaign.counts_total, :delimeter => ','  %>
      </div>
      <%= form_tag brand_campaign_path(@campaign.brand, @campaign), :method => 'put' do |f| %>
        <%= check_box_tag 'campaign[counts_approval]', (@campaign.counts_approval == false ? 1 : 0), @campaign.counts_approval %>
      <% end %>
    </div><!-- /.record, .total -->

</div>
      <%= form_tag brand_campaign_path(@campaign.brand, @campaign), :method => 'put' do |f| %>
        <%= check_box_tag 'campaign[scheduled]', (@campaign.scheduled == 't' ? 'f' : 't'), @campaign.scheduled %>
        <%= hidden_field_tag 'updater', 'sdf', { :value => @campaign.scheduled }  %>
      <% end %>