<div id='dst' class='campaign'>

  <% @brand = @campaign.brand %>

  <%= render 'shared/navigation_bar', :local => @brand %>

  <%= render 'header', :brand => @brand, :campaign => @campaign %>

  <div class='stage'>


    <% if @campaign.versions.count == 0 %>
      <%= render 'empty' %>    
    <% else %>
      <% @campaign.versions.each do |version| %>
        <%= render 'version_record', :version => version %> 
      <% end %>
    <% end %>

    <div class="record total">
      <div>
        <%= number_with_delimiter @campaign.counts_total, :delimeter => ','  %>
      </div>
      <%= form_tag brand_campaign_path(@campaign.brand, @campaign), :method => 'put' do |f| %>
        <%= check_box_tag 'campaign[counts_approval]', (@campaign.counts_approval == false ? 1 : 0), @campaign.counts_approval %>
      <% end %>
    </div><!-- /.record, .total -->

</div>

</div>

      
      