<div id="dst">
  <ul>
    <li id="header" class="campaign" style="border-left-color:#<%= @campaign.brand.color %>">
      <h1><span class="highlight"><%= 'Version'.pluralize(@campaign.versions.size) %></span> for the <span class="current"><%= @campaign.name %></span> campaign in the <%= link_to @campaign.brand.name, brand_path(@campaign.brand), :style => 'color:#' + @campaign.brand.color %> <%= link_to 'brand.', brands_path %></h1>
    </li>
    <li id="new">
      <%= link_to 'New Version', new_brand_campaign_version_path(params[:brand_id], @campaign) %>      
    </li>
    <% i = 0; @campaign.versions.each do |version| %>
    <li class="version <%= i.even? ? 'light' : 'dark' %>">
      <%= link_to version.creative, brand_campaign_version_path(@campaign.brand, @campaign, version) %>
    </li>
    <% i += 1; end %>
  </ul>
</div>