<div id="dst" class="brand">

  <div id="header" class="brand">
    <%= link_to 'New Campaign', new_brand_campaign_path(@brand), :class => 'new' %>
    <h1><span style="color:#<%= @brand.color %>;"><%= @brand.name %>.</span></h1>
    <h2><%= link_to '&larr; Brands.'.html_safe, brands_path %></h2>
  </div><!-- /#header -->

  <%= render 'actions', :local => @brand %>

  <% i = 0; @brand.campaigns.each do |campaign| %>

  <!-- Start campaign: #<%= campaign.id %> -->
  <div class="record deletable <%= toggle_row_bg_color %>">
    <%= button_to 'X', brand_campaign_path(@brand, campaign), :method => :delete, :class => 'delete' %>
    <h1><%= link_to campaign.name, brand_campaign_path(@brand, campaign) %></h1>
    <ul class="sub_items">
    <% campaign.versions.each do |v| %>
      <li><%= link_to v.creative, brand_campaign_version_path(@brand, campaign, v) %><%= approved_badge(v.creative_approval) %></li>
    <% end %>
    </ul>
    <%= link_to '&#10043;'.html_safe, duplicate_brand_campaign_path(@brand, campaign), :class => 'clone' %>          
    <span class="count"><%= number_with_delimiter campaign.counts_total, :delimeter => ',' %></span>

  </div>
  <!-- End campaign: #<%= campaign.id %> -->

  <% i += 1; end %>

</div><!-- /#dst, .brand -->